$font-default: 'Roboto', sans-serif;
$font-default-size: 17px;

$font-light-weight: 300;
$font-regular-weight: 400;
$font-semibold-weight: 500;
$font-bold-weight: 700;

$width-mobile: 430px;
$width-tablet: 760px;
$width-desktop: 1280px;

$padding-mobile: 25px;
$padding-tablet: 45px;
$padding-desktop: 75px;

$light-gray-color: #f0f0f0;;

/* text selection */
::-moz-selection { 
background-color: black; 
color: #ffffff;
}

::selection {
background-color: black;
color: #ffffff;
}

.fade-transition-color {
  /* for hover transitions */
  -webkit-transition: color 0.3s ease-out;  /* Safari 3.2+, Chrome */
  -moz-transition: color 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: color 0.3s ease-out;  /* Opera 10.5–12.00 */
  transition: color 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
  -ms-transition:.3s;

  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.fade-transition-all {
  /* for hover transitions */
  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
  -ms-transition:.3s;

  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.default-font {
  font-family: $font-default;
  font-size: $font-default-size;
  font-weight: $font-light-weight;
}

.header-font {
  @extend .default-font;
  font-weight: $font-regular-weight;
  font-size: 20px;
}

.block-link {
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif');
}


.bold {
  font-weight: $font-bold-weight;
}

.semi-bold {
  font-weight: $font-semibold-weight;
}

.regular {
  font-weight: $font-regular-weight;
}

.strike-through
{
  text-decoration:line-through;
}

.spaces {
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.border-box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.gray-link {
  color: gray;
}

.gray-link:hover {
  color: black;
}

.black-link {
  color: black;
}

.black-link:hover {
  color: gray;
}

h2 {
  @extend .header-font;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  clear:both;
}

* {
	@extend .default-font;
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

a {
  @extend .fade-transition-color;
  @extend .gray-link;
  text-decoration: none;
}

h1 {
  @extend .header-font;
}

h2 {
  @extend .header-font;
}

header {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
  padding: $padding-desktop $padding-desktop 25px $padding-desktop;

  @media screen and (max-width: $width-tablet) {
    padding: $padding-tablet $padding-tablet 25px $padding-tablet;
    text-align: center;
  }

  @media screen and (max-width: $width-mobile) {
    padding: $padding-mobile $padding-mobile 25px $padding-mobile;
  }

  h1 {
    display: inline-block;
    margin: 0; 

    @media screen and (max-width: $width-tablet) {
      width: 100%;
    }

    a {
      color: black;
      font-size: 24px;
      font-weight: $font-semibold-weight;
    }
  }

  nav {
    display: inline-block;
    text-align: right;
    margin: 0;
    float: right;
    padding-top: 3px;

    @media screen and (max-width: $width-tablet) {
      float: none;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      display: inline;
      padding-left: 15px; 
    }
    li:first-child {
      padding-left: 0;
    }

    a {
      @extend .black-link;

      font-size: 20px;
      font-weight: $font-light-weight;

      @media screen and (max-width: $width-mobile) {
        font-size: 16px;
      }
    }
  }
}

footer {
  padding: 50px 0 35px 0;
  clear: both;
}

hr {
  clear: both;
  margin-top: 1em;
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: 0;
}

$padding-projects: 10px;
$padding-cell: 20px;
$width-cell: 400px;
$width-two-cells: 700px;
$width-three-cells: 1050px;

@function width-cells($cols) {
  @return ($width-cell * $cols);
}

.links-footer {
  padding-top: 1em;
  text-align: center;
}

.projects
{

}

.project-cells
{
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.p-three-cols {
  max-width: 100%;  
  @media screen and (max-width: $width-three-cells) {
    max-width: width-cells(2);
  }

  @media screen and (max-width: $width-two-cells) {
    max-width: width-cells(1);
  }
}

.p-two-cols {
  max-width: width-cells(2);
  @media screen and (max-width: $width-two-cells) {
    max-width: width-cells(1);
  }
}

.p-one-col
{
  max-width: width-cells(1);
}

.pc-three-cols {
  max-width: 33%; 
  @media screen and (max-width: $width-three-cells) {
    max-width: 50%;
  }
  @media screen and (max-width: $width-two-cells) {
    max-width: 100%;
  }
}

.pc-two-cols {
   max-width: 50%; 
  @media screen and (max-width: $width-three-cells) {
    max-width: 50%;
  }
  @media screen and (max-width: $width-two-cells) {
    max-width: 100%;
  }
}

.pc-one-col {
  max-width: 100%;
  @media screen and (max-width: $width-three-cells) {
    max-width: 100%;
  }
  @media screen and (max-width: $width-two-cells) {
    max-width: 100%;
  }
}

.project-cell {
  float: left;

  figure {
    padding: $padding-cell $padding-cell 10px $padding-cell;
    margin: 0;
    
    @media screen and (max-width: $width-two-cells) {
      padding: $padding-cell 10px 10px 10px;
    }

    div {
      position: relative;

      img {
        @extend .fade-transition-all;
        @extend .border-box;

        max-width: 100%;
        margin-bottom: 0.3em;
        border: 10px solid $light-gray-color;
        width: $width-cell;
      }

      img:hover {
        border: 10px solid #e0e0e0;
      }

    }

    p {
      margin: 0;
      text-align: left;
      font-size: 18px;

      a {
        @extend .black-link;
      }

    }
  }
}

.project {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;

  .overview {
      max-width: 100%;
      @media screen and (max-width: $width-tablet) {
        max-width: 100%;
      }
      @media screen and (max-width: $width-mobile) {
        max-width: 100%;
      }

  }

  .stats {
    p {
      margin: 0.3em 0;
    }
  }

  .project-content {
    clear:both;
    margin-top: 25px;

    h2 {
      font-weight: $font-semibold-weight;
      font-size: $font-default-size;
    }
  }
}



.image-cells {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

$padding-image-cell: 10px;

.image-cell
{

  overflow:hidden;
  margin: 0 auto;
  padding: $padding-image-cell 0;

  figure {
    overflow: hidden;
    padding: 2*$padding-image-cell;
    margin: 0;
    background-color: $light-gray-color;

    @media screen and (max-width: $width-mobile) {
      padding: $padding-image-cell;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  .caption {

    h1 {
      margin: 0;
      padding-bottom: 0.5em;
    }

    .image-title {
      font-weight: $font-regular-weight; 
      color:black;
    }

    a {
      @extend .black-link;
    }
    
    p {
      margin: 0;
    }
  }
}

.image-cell-right-caption {
  @extend .image-cell;

	img {
    @extend .border-box;
		max-width: 50%;
    padding-bottom: 0;
    float:left;

    @media screen and (max-width: $width-tablet) {
      float:none;
      margin: 0 auto;
      max-width: 100%;
      padding-bottom: $padding-image-cell * 2;
    }
	}
	
	.caption {
    @extend .border-box;

		float:left;
    padding-left: 2em;
		max-width: 50%;
		
    @media screen and (max-width: $width-tablet) {
      float:none;
      padding-left: 0em;
      max-width: 100%;
    }
	}
}


.image-cell-bottom-caption {
  @extend .image-cell;
  @extend .border-box;

  float: left;
  max-width: 100%;

  img {
    max-width: 100%;
    padding-right: 0;
  }

  .caption {
    padding-top: 1em;
  }
}

.icbc-2-cells
{
  @extend .image-cell-bottom-caption;

  padding: $padding-image-cell;
  max-width: 50%;
  @media screen and (max-width: $width-tablet) {
    max-width: 100%; 
  }
}

.icbc-3-cells
{
  @extend .image-cell-bottom-caption;

  padding: $padding-image-cell;
  max-width: 33%;
  @media screen and (max-width: 900px) {
    max-width: 50%; 
  }
  @media screen and (max-width: 600px) {
    max-width: 100%; 
  }

  figure {
    padding: $padding-image-cell;
  }

}

#about {
  @extend .border-box;
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
  /*padding: 10px;*/


  #about-other {
    p {
      margin: 0;
    }
  }

  #about-pp {
    margin-top: 1em;
  }
}

.journals {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;

  h2 {
    text-align: center;
  }

  hr {
    margin-top: 2em;
    margin-bottom: 0;
    @media screen and (max-width: $width-tablet) {
        margin-top: 1em;
    }
  }
}

.journal {
  overflow: hidden;
  text-align: left;
  padding-top: 1em;

  .journal-image {
    @extend .border-box;
    overflow: hidden;

    max-width: 50%;
    float: left;
    padding: 1em;

    background-color: $light-gray-color;

    @media screen and (max-width: $width-tablet) {
      max-width: 100%;
      /*max-height: 100%;*/
      float: none;
    }

    figure {
      margin: 0;
    }

    img {

      display: block;
      max-width: 100%;
      max-height: 500px;

      @media screen and (max-width: $width-tablet) {
        margin: 0 auto;
      }

    }
  }

  .journal-content {
    @extend .border-box;
    padding-top: 0;

    h1 {
      margin: 0.2em 0 0.2em 0;
      a {
        @extend .header-font;
        font-size: 20px;
        @extend .black-link;
      }
    }
  }

  .no-image {
    max-width: 100%;
  }

  .image {
    max-width: 50%;
    float: left;
    padding-left: 2em;

    @media screen and (max-width: $width-tablet) {
        max-width: 100%;
        padding-top: 1em;
        padding-left: 0;
        float: none;
      }
  }
}


.journal-cells
{
  .journal-cell {
    margin: 1.4em auto 0 auto;
    background-color: $light-gray-color;
    text-align: left;
    position: relative;
    padding: 1.3em;

    max-width: 70%;
    @media screen and (max-width: $width-tablet) {
      max-width: 100%;
    }

    h1 {
      margin: 0 0 0.1em 0;
      a {
        @extend .black-link;
        @extend .header-font;
      }
    }

    .jc-time {
      time {
        color: gray;
      }
      padding-bottom:0.2em;
    }
  }
}

.link-list {
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;

  @media screen and (max-width: $width-tablet) {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 1em 0 0 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    font-size: 18tapx;
  }
}

#container {
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: $width-desktop;
  margin: 0 auto;
}

#content-container {
  padding: 0 $padding-desktop;
  @media screen and (max-width: $width-tablet) {
      padding: 0 $padding-tablet;

  }

  @media screen and (max-width: $width-mobile) {
      padding: 0 $padding-mobile;

  }

  h1 {
    @media screen and (max-width: $width-mobile) {
      font-size: 20px;
    }
  }
}

